.bg {
  background-image: url(../../images/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-flow: column wrap;
}
.title {
  font-weight: bold;
  color: #284326;
  font-size: 2em;
  margin-left: 1em;
}
.title2 {
  font-weight: bold;
  color: #284326;
  padding-bottom: 0.3em;
  font-size: 1.6em;
  margin-left: 1em;
}
.listComp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding-left: 2vw;
  margin-top: 1em;
  border: 0.3em solid;
  border-style: inset;
  border-radius: 5em;
  width: fit-content;
  height: fit-content;
  margin-bottom: 1em;
}
.faces {
  padding-right: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.25em;
}
.faceList {
  font-weight: bold;
  font-size: 1.1em;
  color: #2e7750;
}
.pic {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;

}
.motto {
  display: flex;
  align-self: center;
  font-weight: bold;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 1.5em;
  color: #ba867d;
}

.pictures {
  align-self: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.horizontalRow {
  border: 0.15em solid #615655;
}
.facts {
  color: #284326;
  font-size: 1.2em;
  display: flex;
  align-self: center;
  font-weight: bold;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  flex-direction: column;
}
.keyPoints {
  display: flex;
  align-items: center;
  margin-left: 2em;
  flex-direction: column;
  color: #ba867df6;
}
.studies {
  display: flex;
  flex-direction: column;
  margin-left: 12em;
  margin-right: 12em;
  align-self: center;
  color: #ba867df6;
}
.qu {
  display: flex;
  align-self: center;
  margin-top: 2em;
}
