.wrapper{
    background-image: url(../images/motivationalBG.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 92.8vh;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    }