.startPage{
    background-image: url(../images/home_background2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    height: 92.8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textTyped {
    font-family: "Comic Sans MS";
    color: rgba(255,255,255,1);
    font-size: 7em;
    text-shadow: 9px 8px 10px rgba(65,105,85,0.7);
    -webkit-text-stroke: 2px black;
    width: 30%;
    justify-content: center;
    text-align: center;
}